@model WebAppAula02.Models.LivroViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LivroViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sinopse" class="control-label"></label>
                <input asp-for="Sinopse" class="form-control" />
                <span asp-validation-for="Sinopse" class="text-danger"></span>
            </div>
            <div>
                <select asp-for="AutorId"
                        asp-items="ViewBag.Autores">
                </select>
                @*<select class="form-control" id="AutorId" name="AutorId">
                    @foreach (var option in ViewBag.Autores)
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                </select>   OU PODE SER ASSIM *@
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Emprestado" /> @Html.DisplayNameFor(model => model.Emprestado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
